.swiper-card {
    width: 18rem;
    height: 70vh;
    position: relative;
    border: none !important;
    color: var(--color-white);
    border-radius: .9rem !important;
    transition: var(--transition);
    background: linear-gradient(to bottom, rgba(0, 0, 0, .4), rgba(63, 3, 3, .4)),
        url('../../assets/images/portrait_one.jpg') no-repeat;
    background-size: cover;
}

.swiper-card::before {
    width: 18rem;
    height: 70vh;
    background-size: cover;
    content: "";
    position: absolute;
    border-radius: .9rem;
    z-index: -1;
    transition: var(--transition);
}

.swiper-card:hover::before {
    background: linear-gradient(to bottom, rgba(0, 0, 0, .5), rgba(63, 3, 3, .5)) !important;
}

.swiper-card:hover {
    transform: translateY(-.8rem);
}

.swiper-card .card-body {
    display: flex !important;
    flex-direction: column !important;
    justify-content: flex-end !important;
    align-items: flex-start;
    text-align: start;
    margin-bottom: 3rem;
}

.swiper-card h4 {
    margin-bottom: 2rem;
}