header {
    position: relative;
    overflow: hidden;
    align-items: center;
    display: flex;
    justify-content: flex-start;
    overflow: hidden;
    perspective: 100px;
    text-align: center;
    transform-style: preserve-3d;
}

header::before {
    animation: no-transform 2s .5s cubic-bezier(0, .5, 0, 1) forwards;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, .8)),
        url('../../assets/images/background_five.jpg') no-repeat bottom;
    background-size: cover;
    content: "";
    position: absolute;
    opacity: 0;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    transform: translateY(-4rem);
}

.header-main {
    width: 40rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-top: 7rem;
    margin-bottom: 7rem;
}

.header-scroll {
    animation: none;
}

.header-title,
.header-subtitle {
    color: var(--linear-gradient-color);
}

.header-title {
    font-size: 5em;
    font-weight: 800;
    text-align: start;
    text-transform: uppercase;
    background-image: var(--linear-gradient-color);
    background-size: 100%;
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    opacity: 0;
    transform: translateX(-4rem) scale(.8);
    transition: transform 1s 1.5s cubic-bezier(0, .5, 0, 1),opacity 1s 1.5s ease-out;
    will-change: transform, opacity;
}


.header-subtitle {
    margin-bottom: 2rem;
    text-transform: uppercase;
    text-align: start;
    opacity: 0;
    transform: translateX(-4rem) scale(.8);
    transition: transform 1s 1.5s cubic-bezier(0, .5, 0, 1),opacity 1s 1.5s ease-out;
    will-change: transform, opacity;
}

.header-button {
    transform: translateZ(.1px);
    position: relative;
    z-index: 10;
    margin-bottom: 3rem;
    opacity: 0;
    transform: translateX(-4rem) scale(.8);
    transition: transform 1s 1.5s cubic-bezier(0, .5, 0, 1),opacity 1s 1.5s ease-out;
    will-change: transform, opacity;
}

.header-articles {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 3rem;
}

header .card {
    width: 20rem;
    height: 40vh;
    background: transparent;
    border: none;
    text-align: start;
    opacity: 0;
    transform: translateY(4rem) scale(.8);
    transition: transform .8s .25s cubic-bezier(0, .9, .3, 1.2),
        opacity .3s .25s ease-out;
    will-change: transform, opacity;
}


.card.is-visible {
    opacity: 1;
    transform: none;
}

.card img {
    width: 6rem;
    padding: 1rem 1rem;
}

.card:nth-child(1) {
    transition-delay: 500ms;
}

.card:nth-child(2) {
    transition-delay: 700ms;
}

.card:nth-child(3) {
    transition-delay: 900ms;
}

.header-title.is-visible,.header-subtitle.is-visible,.header-button.is-visible {
    opacity: 1;
    transform: none
}


.header-title {
    transition-delay: .6s;
}

.header-subtitle {
    transition-delay: .8s;
}

.header-button {
    transition-delay: 1s
}


/*Animation*/
@keyframes no-transform {
    100% {
        opacity: 1;
        transform: none;
    }
}