.nav{
    top: 0;
    z-index: 11;
}

.navbar-brand  img{
    width: 8rem;
}

.nav-item a {
    font-weight: 500;
}

.nav-item .nav-link, .nav-button{
    color: var(--color-white);
}

.bg-light{
    transition: var(--transition);
}