header {
    position: relative;
    overflow: hidden;
    align-items: center;
    display: flex;
    justify-content: flex-start;
    overflow: hidden;
    perspective: 100px;
    height: 100vh;
    text-align: center;
    transform-style: preserve-3d;
}

header::before {
    animation: no-transform 2s .5s cubic-bezier(0, .5, 0, 1) forwards;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, .8)),
        url('../../assets/images/background_two.jpg') no-repeat bottom;
    background-size: cover;
    content: "";
    position: absolute;
    opacity: 0;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    transform: translateY(-4rem);
}

.header-main {
    width: 40rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-top: 8rem;
}

.header-scroll {
    animation: none;
}

.header-title,
.header-subtitle {
    color: var(--linear-gradient-color);
}

.header-title {
    font-size: 4em;
    font-weight: 800;
    text-align: start;
    text-transform: uppercase;
    background-image: var(--linear-gradient-color);
    background-size: 100%;
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    opacity: 0;
    transform: translateX(-4rem) scale(.8);
    transition: transform 1s 1.5s cubic-bezier(0, .5, 0, 1),opacity 1s 1.5s ease-out;
    will-change: transform, opacity;
}


.header-subtitle {
    margin-bottom: 2rem;
    text-transform: uppercase;
    text-align: start;
    opacity: 0;
    transform: translateX(-4rem) scale(.8);
    transition: transform 1s 1.5s cubic-bezier(0, .5, 0, 1),opacity 1s 1.5s ease-out;
    will-change: transform, opacity;
}

.header-button {
    transform: translateZ(.1px);
    position: relative;
    z-index: 10;
    margin-bottom: 2rem;
    opacity: 0;
    transform: translateX(-4rem) scale(.8);
    transition: transform 1s 1.5s cubic-bezier(0, .5, 0, 1),opacity 1s 1.5s ease-out;
    will-change: transform, opacity;
}

.header-articles {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 3rem;
}

.header-title.is-visible,.header-subtitle.is-visible,.header-button.is-visible {
    opacity: 1;
    transform: none
}


.header-title {
    transition-delay: .6s;
}

.header-subtitle {
    transition-delay: .8s;
}

.header-button {
    transition-delay: 1s
}


/*Animation*/
@keyframes no-transform {
    100% {
        opacity: 1;
        transform: none;
    }
}


@media screen and (max-width:400px) {
    header{
        font-size: .5em;
        padding: 1rem 1rem;
    }

    .header-main {
        width: 20rem;
        font-size: .8em;
    }

    .header-subtitle{
        font-size: 4em;
    }

    .header-articles{
        height: auto;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
    }
}